:root {
    --c1: #c3dce5;
    --c2: #ee6a7c;
    --c3: #c3dce5;
    --c4: #222426;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: var(--c4);
    background-color: #ffffff;
}

h1 {
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 30px;
}

#start-screen {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-weight: 500;
    font-size: 40px;
}

#game-screen {
    width: 350px;
    display: none;
}
#end-screen {
    display: none;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    gap: 10px;
    margin-top: 10px;
}
.card {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.5s;
    position:relative;
    transform-style: preserve-3d;
}
.card:hover .card-back {
    border-color: var(--c2);
}

.flip {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}
.card-front {
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #ffffff;
    border: 1px solid var(--c1);
    border-radius: 5px;
}

.bar {
    width: 100%;
    height: 25px;
    overflow: hidden;
    border: 1px solid var(--c1);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
}
.bar-number {
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    top: 3px;
    right: 4px;
}
#progress-line {
    background-color: var(--c3);
    transition: width 0.5s;
    width: 0%;
    height: 100%;
}
#timer-line {
    background-color: var(--c2);
    width: 100%;
    height: 100%;
}

button {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin: 0px auto;
    line-height: 16px;
    padding: 12px 36px;
    border: 1px solid var(--c1);
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    color: #ffffff;
    background-color: var(--c2);
    border-color: var(--c2);
}

.cards-image {
    display:inline-block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--c2);
    box-shadow: 10px 10px 0px var(--c1);
    position: relative;
    top: 5px;
}

.pairs-amount {
    margin-bottom: 15px;
    position: relative;
    left: -5px;
}

#slider {
    appearance: none;
    box-sizing: border-box;
    border: 1px solid var(--c1);
    border-radius: 5px;
    width: 200px;
    height: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}
#slider::-webkit-slider-thumb{
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: var(--c2);
    border-radius: 50%;
}
