:root {
    --c1: #c4c4c4;
    --c2: #caa05a;
    --c3: #8ea091;
    --c4: #543344;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: var(--c4);
    background-color: #ffffff;
}

#game-screen {
    width: 350px;
    display: none;
}
#end-screen {
    display: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 360px;
    height: 360px;
    gap: 10px;
}
.card {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.5s;
    position:relative;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}
.card-front {
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #ffffff;
    border: 1px solid var(--c1);
    border-radius: 5px;
}

.bar {
    width: 100%;
    height: 20px;
    overflow: hidden;
    border: 1px solid var(--c1);
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
}
.bar-number {
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    top: 2px;
    right: 2px;
}
#progress-line {
    background-color: var(--c3);
    transition: width 0.5s;
    width: 0%;
    height: 100%;
}
#timer-line {
    background-color: var(--c2);
    width: 100%;
    height: 100%;
}

button {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 36px;
    border: 1px solid var(--c1);
    border-radius: 5px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}
button:hover {
    color: #ffffff;
}