:root {
    --c1: #c3dce5;
    --c2: #a3becc;
    --c3: #8598a6;
    --c4: #667480;
    --c5: #4c5359;
    --c6: #363940;
    --c7: #222426;
    --c8: #ee6a7c;
    --c9: #dd465a;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--c7);
}

body {
    width: 100%;
    min-width: 1160px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c4);
    background-color: #ffffff;
    padding-top: 50px;
}

#main {
    display: flex;
    gap: 20px;
}

#container {
    width: 790px;
    columns: 3;
    column-gap: 20px;
}

.card {
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    position: relative;
    left: 0px;
    background-color: #ffffff;
    border: 1px solid var(--c1);
    border-radius: 10px;
    padding: 25px 25px 50px 25px;
    height: auto;
    transition: border 0.5s, background-color 0.5s, left 0.5s;
}
.card.sided {
    left: -270px;
}

.text {
    overflow-wrap: break-word;
}

.corner{
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 30px;
    height: 30px;
    background-color: var(--c1);
    border-bottom: 30px solid #ffffff;
    border-right: 30px solid var(--c1);
    border-radius: 0px 10px 0px 0px;
    transition: border 0.5s;
}

#input-card {
    width: 250px;
    padding-bottom: 46px;
    margin-bottom: 12px;
}
#input-card.focus {
    border-color: var(--c8);
    background-color: var(--c8);
}
#input-card.focus .corner{
    border-right: 30px solid var(--c9);
}

#input {
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    font-weight: 500;
    color: var(--c7);
}
#input:focus {
    outline: none;
    color: #ffffff;
}
#input::placeholder {
    font-weight: 500;
    color: var(--c2);
    opacity: 1;
    transition: opacity 0.5s;
}
#input.focus::placeholder {
    opacity: 0;
}

.icon {
    display: block;
    background: none;
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s;
}

button {
    cursor: pointer;
}

.done-button {
    bottom: 15px;
    right: 45px;
    background-image: url("./icons/check.svg");
}
.done-button:hover {
    background-image: url("./icons/check-hover.svg");
}
.done-button.done {
    background-image: url("./icons/check-hover.svg");
}
.card.done .text {
    color: var(--c2);
}

.delete-button {
    bottom: 15px;
    right: 15px;
    background-image: url("./icons/delete.svg");
}
.delete-button:hover {
    background-image: url("./icons/delete-hover.svg");
}

#input-button {
    display: inline-block;
    font-weight: 700;
    background-image: url("./icons/check-white.svg");
    opacity: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: var(--c8);
    transition: background-color 0.5s;
}
#input-button:disabled {
    background-color: var(--c1);
    cursor: auto;
}
.transparent {
    opacity: 0%;
}

#delete-all {
    color: var(--c2);
    height: 20px;
    transition: color 0.5s;
}
#delete-all:hover {
    color: var(--c8);
}
#delete-all:hover .sub-icon {
    background-image: url("./icons/delete-hover.svg");
}
.sub-icon {
    display: inline-block;
    background: none;
    width: 20px;
    height: 20px;
    background-image: url("./icons/delete-c2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s;
    vertical-align: bottom;
    margin-right: 3px;
}
