:root {
  --clr-txt1: #ffffff;
  --clr-txt2: #81afdd;
  --clr-txt3: #ff8a71;
  --clr-grd1: #ae67fa;
  --clr-grd2: #f49867;
  --clr-bg1: #040c18;
  --clr-bg2: #042c54;
  --clr-shd1:#0f4279;
  --clr-shd2: #1b78de;
  --clr-shd3: #07325f;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('./fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
html {
  margin: 0;
  padding: 0;
}

body {
    background: #040C18;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    min-width: 1440px;
  }


/* Часть Кирилла */

  .container {
    width: 1464px;
    height: 100%;
    color: #ffffff;
    font-family: "Manrope", sans-serif;
  }
  .container__header {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
  .header__logo {
    margin-right: 200px;
    margin-top: 6.5px;
  }
  .logo__img {
  }
  .header__nav {
    margin-left: -250px;
  
  }
  .nav__ul {
    display: flex;
    gap: 60px;
    font-size: 18px;
  }
  .nav__li {
  }
  .li__link {
    color: #ffffff;
  }
  .li__link:hover {
    color: #002853;
  }
  .li__link:active {
    color: #ffffff;
  }
  .header__sign {
    margin-top: 4.5px;
  }
  .sign__1 {
    margin-right: 15px;
    color: #ffffff;
    font-size: 18px;  
  }
  .sign__1:hover {
    color: #002853;
  }
  .sign__1:active {
    color: #ffffff;
  }
  .sign__2 {
    border: 1px solid #FF4820;
    padding: 15px 45px 15px 45px;
    border-radius: 10px;
    background: #FF4820;
    color: #ffffff;
    font-size: 18px;
  }
  .sign__2:hover {
    color: #002853;
  }
  .sign__2:active {
    color: #ffffff;
  }
  .container__main-1 {
    display: flex;
    justify-content: space-between;
  }
  .main__text {
    padding-left: 150px;
    padding-top: 100px;
  }
  .text__tittle {
    width: 600px;
    font-size: 50px;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
  .tittle__text {
    font-weight: bold;
  }
  .text__description {
    width: 540px;
  height: 227px;
  top: 474px;
  left: 138px;
  font-size: 20px;
  color: #81AFDD;
  padding-top: 33px;
  }
  .email__input {
    background: #052D56;
    padding: 20px 150px 15.5px 45px;
    border-radius: 5px 0 0 5px;
  }
  .email__link {
    border: 1px solid #FF4820;
    padding: 16px 45px 14px 45px;
    border-radius: 0 5px 5px 0;
    background: #FF4820;
    color: #ffffff;
    font-size: 18px;
    margin-left: -6px;
  }
  .main__img {
  }
  .img {
    width:750px ;
  }
  .group__img {
    width: 180px;
    
  }
  .group {
    display: flex;
    margin-top: 40px;
    gap: 10px;
  }
  .group__text {
    font-size: 10px;
    margin-top: 12px;
  }
  .compa {
    width: 600px;
  }
  .companies {
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
  }

/* Часть Михаила */

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  overflow: hidden;

  box-sizing: border-box;
  width: 1170px;
  height: 695px;
  background-color: var(--clr-bg2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 60px;
  margin-top: 46px;
}

.container2 {
  display: flex;
  justify-content: space-between;

  position: relative;
  left: -3px;

  box-sizing: border-box;
  width: 1154px;
  background: none;

  margin-top: 202px;
  margin-bottom: 45px;
}

.line-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  z-index: 10;
}

.sub-container1 {
  width: 334px;
}

.sub-container2 {
  width: 426px;
}

.sub-container3 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 590px;
  margin-top: 2px;
}

.sub-container4 {
  display: flex;
  justify-content: space-between;
}

.ellips1,
.ellips2 {
  border:none;
  border-radius: 50%;
}

.ellips1 {
  position: absolute;
  top: -281px;
  left: -371px;

  width: 581px;
  height: 410px;
  background: var(--clr-shd1);
  filter: blur(60px);

  z-index: 1;
}

.ellips2 {
  position: absolute;
  bottom: -321px;
  right: -426px;

  width: 623px;
  height: 558px;
  background: var(--clr-shd2);
  filter: blur(100px);

  z-index: 1;
}

.blur2 {
  position: absolute;
  top: -228px;
  left: -584px;

  width: 777px;
  height: 777px;
  background: var(--clr-shd3);
  border:none;
  border-radius: 50%;
  filter: blur(282px);

  z-index: -10;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.txt-style1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;

  background: linear-gradient(103.22deg, var(--clr-grd1) -13.86%, var(--clr-grd2) 99.55%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.txt-style2 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  letter-spacing: -0.04em;

  color: var(--clr-txt1);

  margin-bottom: 26px
}

.txt-style3 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: var(--clr-txt2);
}

.txt-style4 {
  width: 182px;

  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;

  color: var(--clr-txt1);
}

.txt-style5 {
  width: 334px;
  height: 92px;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  color: var(--clr-txt2);
}

.txt-decor1 {
  position: relative;
}

.txt-decor1::before {
  content: "";

  position: absolute;
  top: 5px;

  display: block;
  height: 3px;
  width: 38px;
  background: linear-gradient(103.22deg, var(--clr-grd1) -13.86%, var(--clr-grd2) 99.55%);
}

.txt-decor2::before {
  content: "";

  display: block;
  height: 3px;
  width: 38px;
  background: linear-gradient(103.22deg, var(--clr-grd1) -13.86%, var(--clr-grd2) 99.55%);

  margin-bottom: 4px;
  margin-top: 5px;
}

.link-style1 {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  text-decoration: none;
  color: var(--clr-txt3);
}

a.link-style1:hover,
a.link-style1:visited,
a.link-style1:active,
a.link-style1:focus {
  color: var(--clr-txt3);
}

.txt-align-rg {
  text-align: right;
}

.width1 {
  width: 472px;
}

.width2 {
  width: 731px;
}

.flex-align1 {
  align-items: first baseline;
}

.margin1 {
  margin-bottom: 33px;
}


/* Часть Олега*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #031B34;
  padding: 175px 0 30px;
}

.gradient-text {
  display: flex;
  justify-content: center;
}

.gradient-text div {
  width: 980px;
  text-align: center;
  font: 800 62px "Manrope", sans-serif;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.request-button {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}

.request-button a {
  color: white;
  width: 218px;
  height: 65px;
  border: 1px white solid;
  font: 18px Gilroy-Medium;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.footer-column a {
  color: white;
  font: 18px Gilroy-Medium;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-menu {
  margin-top: 150px;
  display: flex;
  width: 1030px;
  color: white;
  padding: 0;
}

.footer-menu p {
  font: 14px Gilroy-Bold;
}

.footer-logo {
  flex-basis: 40%;
}

.footer-logo-text {
  width: 175px;
  margin-top: 25px;
  font: 12px Gilroy-Medium;
}

.footer-column {
  flex-basis: 20%;
}

.footer-column ul {
  list-style-type: none;
  margin-top: 36px;
}

.footer-column li {
  width: 125px;
  margin-top: 26px;
  font: 12px Gilroy-Medium;
}

.copyright-text {
  color: white;
  text-align: center;
  margin-top: 80px;
  font: 12px Gilroy-Medium;
}


/* Часть Данила */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");


button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important
}

a {
  text-decoration: none
}

/*@import url("https://fonts.googleapis.com/css?family=Manrope:800,500,400,700");*/

.desktop {
  width: 1044px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 155px
}

.desktop .feature-image {
  width: 546px;
  height: 608px
}

.desktop .content {
  width: 479px;
}
.desktop .p1 {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #71E5FF;

  margin-bottom: 10px;
}

.desktop .text-wrapper {
  width: 426px;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: transparent;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 45px;

  margin-bottom: 23px;
}

.desktop .p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #81AFDD;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  
  margin-bottom: 31px;
}

.desktop .text-wrapper-2 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #FF8A71;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  display: block;
  margin-bottom: 35px;
}

.overlap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  height: 173px;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  margin-bottom: 155px;
  border-radius: 11px;

  padding-left: 46px;
  padding-right: 38px;
}

.overlap-2 {
  width: 802px;
}

.register-today-start {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 45px;
}

.text-wrapper-4 {
  width: 319px;
  color: #0e0e0e;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  height: 47px;
  margin-bottom: -20px;
}


.text-wrapper-5 {
  width: 190px;
  height: 60px;
  background-color: #000000;
  border-radius: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  vertical-align: middle;
}


/* Полностью переделанные стили Сергея(?) */

.main-container {
  margin-bottom: 155px;
}

div .section {
  height: 696px;
  width: 1170px;
  display: flex;
  align-content: stretch;
  justify-content: space-between;
}

.a-text {
  width: 701px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;

  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  margin-bottom: 116px;
}

.picture {
  width: 100%;
  height: auto;
}

.big-news {
  display: flex;
  flex-direction: column;
  width: 418px;
}

.news-text1{
  height: 100%;
  padding: 33px 49px 27px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#042C54;
}

.date-1 {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  color: #ffffff;
}

.h4-1 {
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  color: #ffffff;
}

.little-news {
  width: 702px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.news1 {
  display: flex;
  flex-direction: column;
  height: 324px;
  width: 327px;
}

.news-text2 {
  height: 100%;
  padding: 7px 17px 14px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#042C54;
}

.h4-2 {
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  line-height: 30px;
  font-weight: 800;
  color: #ffffff;
}

/* Дополнительные стили */

.blur-01 {

  position: absolute;
  width: 1013px;
  height: 1013px;
  left: calc(50% - 1056px);
  top: -305px;

  border-radius: 50%;
  background: #002853;
  filter: blur(282px);
  z-index: -1;
}

.blur-03 {
  position: absolute;
  width: 701px;
  height: 496px;
  right: calc(50% - 1108px);
  top: 500px;
  
  border-radius: 50%;
  background: #072D56;
  filter: blur(282px);
  z-index: -1;
}

.missing-section1 {
  border-radius: 10px;
  background-color: white;
  opacity: 10%;
}